.liquid-glass {
  width: 280px;
  height: 160px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 12px 48px rgba(31, 38, 135, 0.154);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent 50%);
  transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  cursor: pointer;
}

.liquid-glass:hover {

  background: rgba(255, 255, 255, 0.04);
  transform: translateY(-4px);
  filter: none;

}